#vmview {
    display: none;
}
/*.vmtile {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16pt;
    border: 2px solid #575757;
    border-radius: 15px;
    height: fit-content;
    width: fit-content;
    display: block;
    padding: 4px;
}*/
#vmDisplay, #btns {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

#vmlist > div.row > div {
    padding-bottom: 10px;
}
#vmlist div.col-md-3 > div.card:hover {
    cursor: pointer;
    border-color: rgb(8, 121, 250);
}

.vmtile > img {
    margin-bottom: 2px;
}

.chat-table, .username-table {
    overflow-y: auto;
    border: 1px solid #575757;
}
.chat-table {
    height: 30vh;
}

.username-table {
    max-height: 30vh;
}
.username-table > table > thead {
    position: sticky;
    top: 0;
}

#turnstatus {
    text-align: center;
}
#voteResetPanel {
    text-align: center;
}

.focused {
    box-shadow: 0 0 9px 0 rgba(45,213,255,.75);
    -moz-box-shadow: 0 0 9px 0 rgba(45,213,255,.75);
    -webkit-box-shadow: 0 0 9px 0 rgba(45,213,255,.75)
}

.waiting {
    box-shadow: 0 0 9px 0 rgba(242,255,63,.75);
    -moz-box-shadow: 0 0 9px 0 rgba(242,255,63,.75);
    -webkit-box-shadow: 0 0 9px 0 rgba(242,255,63,.75)
}

#staffbtns {
    display: none;
}

#staffbtns > button {
    display: none;
}

#qemuMonitorOutput {
    height: 180px;
}

#xssCheckboxContainer {
    display: none;
}

#forceVotePanel {
    display: none;
}

tr.user-admin > td, .chat-username-admin {
    color: #FF0000 !important;
}

tr.user-moderator > td, .chat-username-moderator {
    color: #00FF00 !important;
}

tr.user-turn > td {
    background-color: #cfe2ff !important;
    --bs-table-bg-state: #cfe2ff !important;
    color: #000000;
    --bs-table-color: #000000;
}

tr.user-turn:hover, tr.user-turn > td:hover {
    background-color: #bacbe6 !important;
    --bs-table-bg-state: #bacbe6 !important;
}

tr.user-waiting > td {
    background-color: #fff3cd !important;
    --bs-table-bg-state: #fff3cd !important;
    color: #000000;
    --bs-table-color: #000000;
}

.tr.user-waiting:hover, tr.user-waiting > td:hover {
    background-color: #ece1be !important;
    --bs-table-bg-state: #ece1be !important;
}